<link rel="stylesheet" href="~/css/Sobre.css" />
<div class="container">
    <div class="row paddingHeader paddingDown">
        <div class="col-lg-4" style="text-align: center;">
            <img class="MarlonPhoto" src="../img/Marlon Braga 2020 squere outline.png" />
        </div>
        <div class="col-lg-8 justifyText">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Profissional com mais de 7 anos de experiência em desenvolvimento de software; Atuou em projetos de simulação industrial, plataforma de integração de serviços e simuladores. Vivência com trabalho em equipe e desafios do empreendedorismo.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Sólidos conhecimentos na linguagem C# e DOTNET. Entusiasta das boas práticas de desenvolvimento. Interesse pela área de Arquitetura de Software.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Formado em Ciência da Computação, tem uma especialização em Engenharia de Software com foco em .NET e um MBA em Gerenciamento de Projetos com Métodos Ágeis. Fundador de uma empresa de Realidade Virtual. Possui um artigo publicado pelo SVR - Simpósio de Realidade Virtual e Aumentada. Experiência em gerenciamento de equipes de software e coordenação projetos de pequeno porte.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Focado no aprimoramento técnico, busca constantemente ampliar conhecimentos e adquirir novas experiências e crescimento profissional na área de engenharia e arquitetura de software.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid darkTheme paddingDown">
    <div class="container darkTheme">
        <div class="row">
            <div class="col-md-6  paddingHeader ">
                <h3 class="darkTheme" style="text-align:center;">
                    <span class="fa-stack">
                        <i class="far fa-circle fa-stack-2x circleIcon"></i>
                        <i class="fas fa-tools fa-stack-1x"></i>
                    </span>
                    PROFICIÊNCIA
                </h3>

                <div class="">
                    <table style="margin: auto;">
                        <tr>
                            <td>Agile</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:95%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>DDD</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:50%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Clean Code</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:80%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>TDD</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:80%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Design Patterns</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:80%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>SOLID</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:80%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>DevOps</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:40%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Microservices</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:30%"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <p></p>
            </div>
            <div class="col-md-6 darkTheme paddingHeader">
                <h3 class="darkTheme" style="text-align:center;">
                    <span class="fa-stack ">
                        <i class="far fa-circle fa-stack-2x circleIcon"></i>
                        <i class="fas fa-brain fa-stack-1x"></i>
                    </span>
                    CONHECIMENTOS
                </h3>
                <div class="padding-left">
                    <div class="d-flex flex-wrap align-content-center align-items-center">
                        <div class="conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/aspnet-blue.png"></div>
                            <div class="conhecimentos">.NET</div>
                        </div>

                        <div class="conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/c-sharp-blue.png"></div>
                            <div class="conhecimentos">C-Sharp</div>
                        </div>

                        <div class="conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/efcore-blue.png"></div>
                            <div class="conhecimentos">Entity</div>
                        </div>

                        <div class=" conhecimentos">
                            <div class="conhecimentos"> <img class="skills" src="../img/php-blue.png"></div>
                            <div class="conhecimentos">PHP</div>
                        </div>
                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/sql-blue.png"></div>
                            <div class="conhecimentos">SQL Server</div>
                        </div>
                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/sql-blue.png"></div>
                            <div class="conhecimentos">MySQL</div>
                        </div>

                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/html-blue.png"></div>
                            <div class="conhecimentos">HTML</div>
                        </div>

                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/css-blue.png"></div>
                            <div class="conhecimentos">CSS</div>
                        </div>

                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/javascript-blue.png"></div>
                            <div class="conhecimentos" style="font-size: 0.9em">JavaScript</div>
                        </div>
                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/jquery-blue.png"></div>
                            <div class="conhecimentos" style="font-size: 0.9em">JQuery</div>
                        </div>
                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/vueJS.png"></div>
                            <div class="conhecimentos" style="font-size: 0.9em">VueJS</div>
                        </div>

                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/git-blue.png"></div>
                            <div class="conhecimentos">GIT</div>
                        </div>
                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/unity-blue.png"></div>
                            <div class="conhecimentos">Unity</div>
                        </div>
                        <!--
                            <div> class=" conhecimentos">
                                <div class="conhecimentos"><img class="skills" src="../img/react-blue.png"></div>
                                <div class="conhecimentos">React</div>
                            </div>
                            <div> class=" conhecimentos">
                                <div class="conhecimentos"><img class="skills" src="../img/angular-blue.png"></div>
                                <div class="conhecimentos">Angular</div>
                            </div>
                            <div> class=" conhecimentos">
                                <div class="conhecimentos"><img class="skills" src="../img/mongo-blue.png"></div>
                                <div class="conhecimentos">MongoDB</div>
                            </div>
                            <div> class=" conhecimentos">
                                <div class="conhecimentos"><img class="skills" src="../img/elasticsearch-blue.png"></div>
                                <div class="conhecimentos">Elasticsearch</div>
                            </div>
                            <div> class=" conhecimentos">
                                <div class="conhecimentos"><img class="skills" src="../img/redis-blue.png"></div>
                                <div class="conhecimentos">Redis</div>
                            </div>
                            <div> class=" conhecimentos">
                                <div class="conhecimentos"><img class="skills" src="../img/docker-blue.png"></div>
                                <div class="conhecimentos">Docker</div>
                            </div>
                            <div> class=" conhecimentos">
                                <div class="conhecimentos"><img class="skills" src="../img/kubernetes-blue.png"></div>
                                <div class="conhecimentos">Kubernetes</div>
                            </div>
                            <div> class=" conhecimentos">
                                <div class="conhecimentos"><img class="skills" src="../img/rabbitmq-blue.png"></div>
                                <div class="conhecimentos">RabbitMQ</div>
                            </div>
                            <div> class=" conhecimentos">
                                <div class="conhecimentos"><img class="skills" src="../img/kafka-blue.png"></div>
                                <div class="conhecimentos">Kafka</div>
                            </div>
                            <div> class=" conhecimentos">
                                <div class="conhecimentos"><img class="skills" src="../img/jenkins-blue.png"></div>
                                <div class="conhecimentos">Jenkins</div>
                            </div>
                            <div> class=" conhecimentos">
                                <div class="conhecimentos"><img class="skills" src="../img/github-blue.png"></div>
                                <div class="conhecimentos">GitHub Actions</div>
                            </div>
                        -->
                    </div>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-xl-12 paddingHeader">
        <div class="row">
            <div class="col-xl-12">
                <p></p>
                <div>
                    <ul class="timeline experiencia">
                        <li>
                            <h3>
                                EXPERIÊNCIA
                            </h3>
                        </li>
                        <li>
                            <h4>Engenheiro de software</h4>
                            <p><text class="blueFont">Wevo - a Jitterbit Company</text> <text class="notas badge-pill cinzaBG">Jun/2021 até Mai/2022 (1 ano)</text></p>
                            <p class="descricao">
                                <p>
                                    Atuação no desenvolvimento e manutenção do iPaaS, principal produto da Wevo, responsável por fazer a integração de sistemas em nuvem e uma arquitetura de microserviços; com operação de alta-disponibilidade e escalabilidade (24x7) e aplicações containerizadas (Docker e Kubernetes).
                                </p>
                                <p>
                                    Principais atividades:
                                    <br/>&emsp;- Desenvolvimento direto de conectores de integração (.NET Framework, .NET Core, JavaScript);
                                    <br/>&emsp;- Code-review (Clean Code);
                                    <br/>&emsp;- Refatoração de código (Design Patterns);
                                    <br/>&emsp;- Atuação nas tomadas de decições de definições e criação de padrões de código;
                                    <br/>&emsp;- Manipulação de APIS (REST);
                                    <br/>&emsp;- Manutenção de serviços integrados por mensageria (RabbitMQ);
                                    <br/>&emsp;- Operações em banco de dados (MongoDB, Elasticsearch);
                                </p>
                                <p>
                                    Fluxo de trabalho pautado pela Métodologia Ágil (Conceitos de Scrum e XP) com Integração Contínua (Git);
                                </p>
                                <p>
                                    Focado no desenvolvimento backend, utilizando os principais padrões de desenvolvimento na linguagem C#, aplicando os padrões: DDD, TDD, SOLID, OOP, DI;
                                </p>
                                <br />Tecnologias utilizadas:
                                <span class="badge badge-pill azulBG">C#</span>
                                <span class="badge badge-pill azulBG">.NET</span>
                                <span class="badge badge-pill azulBG">Docker</span>
                                <span class="badge badge-pill azulBG">Kubernetes</span>
                                <span class="badge badge-pill azulBG">RabbitMQ</span>
                                <span class="badge badge-pill azulBG">MongoDB</span>
                                <span class="badge badge-pill azulBG">Elasticsearch</span>
                                <span class="badge badge-pill azulBG">Git</span>
                                <span class="badge badge-pill azulBG">Java</span>
                                <span class="badge badge-pill azulBG">JavaScript</span>
                            </p>
                        </li>
                        <li>
                            <h4>Analista de Sistemas</h4>
                            <p><text class="blueFont">Fadami - Soluções Inteligentes em TI</text> <text class="notas badge-pill cinzaBG">Out/2020 até Jun/2021 (9 meses)</text></p>
                            <p class="descricao">
                                Desenvolvimento Full-Stack de sistemas web; Operações em banco de dados; Refatoração de código; Definições de design de software; Padronização, estruturação e documentação de repositório; Uso e controle de ambiente de homologação;
                                <br />Tecnologias utilizadas:
                                <span class="badge badge-pill azulBG">C#</span>
                                <span class="badge badge-pill azulBG">.NET</span>
                                <span class="badge badge-pill azulBG">SQL Server</span>
                                <span class="badge badge-pill azulBG">JavaScript</span>
                                <span class="badge badge-pill azulBG">VueJS</span>
                                <span class="badge badge-pill azulBG">JQuery</span>
                                <span class="badge badge-pill azulBG">CSS</span>
                                <span class="badge badge-pill azulBG">HTML</span>
                                <span class="badge badge-pill azulBG">Git</span>
                            </p>
                        </li>
                        <li>
                            <h4>Coordenador de projetos</h4>
                            <p><text class="blueFont">Governança.com</text> <text class="notas badge-pill cinzaBG">Mai/2018 - Fev/2020 (2 anos)</text></p>
                            <p class="descricao">
                                Coordenação de serviços, definição do escopo e acompanhamento de cronograma de equipe terceirizada; Coordenação e revisão da produção de conteúdo digital; Organização de conteúdo de marketing digital, planejamento e análise de resultados de campanhas de marketing; Levantamento e análise de requisitos de software.
                            </p>
                        </li>
                        <li>
                            <h4>Desenvolvedor de software, gestor (pessoa jurídica)</h4>
                            <p><text class="blueFont">OverReal Virtualidade Imersiva</text><text class="notas badge-pill cinzaBG">Set/2015 - Nov/2018 (3 anos)</text></p>
                            <p class="descricao">
                                Gerenciamento de equipes de programadores e designers; Levantamento de requisitos; Orçamento de projeto; Desenvolvimento de Sistemas Interativos, Simuladores Imersivos em Realidade Virtual e Aumentada voltados para publicidade e educação.
                                <br />Tecnologias utilizadas:
                                <span class="badge badge-pill azulBG">C#</span>
                                <span class="badge badge-pill azulBG">Unity</span>
                                <span class="badge badge-pill azulBG">Git</span>
                            </p>
                        </li>
                        <li>
                            <h4>Auxiliar de Desenvolvimento (temporário)</h4>
                            <p><text class="blueFont">YDreams Global</text><text class="notas badge-pill cinzaBG">Jul/2016 - Nov/2016 (4 meses)</text></p>
                            <p class="descricao">
                                Desenvolvimento de Sistemas Interativos e aplicativos de Realidade Virtual para fins publicitários.
                                <br />Tecnologias utilizadas:
                                <span class="badge badge-pill azulBG">C#</span>
                                <span class="badge badge-pill azulBG">Unity</span>
                                <span class="badge badge-pill azulBG">Kinect</span>
                                <span class="badge badge-pill azulBG">Gear VR</span>
                            </p>
                        </li>
                        <li>
                            <h4>Programador (estágio)</h4>
                            <p><text class="blueFont">Centro de Tecnologia do SENAI</text><text class="notas badge-pill cinzaBG">Jun/2014 - Jun/2015 (1 ano)</text></p>
                            <p class="descricao">
                                Desenvolvimento de Simuladores Industriais imersivos e Jogos digitais. Projetos em CAVE para treinamento de segurança de profissionais em plataforma de petróleo.
                                <br />Tecnologias utilizadas:
                                <span class="badge badge-pill azulBG">C#</span>
                                <span class="badge badge-pill azulBG">Unity</span>
                                <span class="badge badge-pill azulBG">Middle VR</span>
                            </p>
                        </li>
                        <li>
                            <h4>Programador (voluntário)</h4>
                            <p><text class="blueFont">Centro Acadêmico do IME</text><text class="notas badge-pill cinzaBG">Jun/2013 - Jun/2014 (1 ano)</text></p>
                            <p class="descricao">
                                Desenvolvimento Full-Stack de sistemas online para suporte acadêmico. Projetos de Avaliação de professores, Ranking de CRs e Sistema de Produtividade Acadêmica.
                                <br />Tecnologias utilizadas:
                                <span class="badge badge-pill azulBG">PHP</span>
                                <span class="badge badge-pill azulBG">MySQL</span>
                                <span class="badge badge-pill azulBG">JavaScript</span>
                                <span class="badge badge-pill azulBG">Jquery</span>
                                <span class="badge badge-pill azulBG">CSS</span>
                                <span class="badge badge-pill azulBG">HTML</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-xl-12 paddingHeader">
        <div class="row">
            <div class="col-xl-12">
                <div>
                    <ul class="timeline formacao">
                        <li>
                            <h3>FORMAÇÃO</h3>
                        </li>
                        <li>
                            <h4>Especialização em Engenharia de Software</h4>
                            <text class="notas badge-pill cinzaBG">Abr/2021 - (em curso)</text>
                            <p><text class="blueFont">Instituto Infnet</text></p>
                        </li>
                        <li>
                            <h4>Especialização em Gerenciamento de Projetos e Métodos Ágeis</h4>
                            <text class="notas badge-pill cinzaBG">Abr/2020 - (incompleto)</text>
                            <p><text class="blueFont">Instituto Infnet</text></p>
                        </li>
                        <li>
                            <h4>Graduação em Ciência da Computação</h4>
                            <text class="notas badge-pill cinzaBG">Abr/2011 - Abr/2016</text>
                            <p><text class="blueFont">UERJ - Universidade do Estado do Rio de Janeiro</text></p>
                        </li>
                        <li>
                            <h4>Técnico em Informática</h4>
                            <text class="notas badge-pill cinzaBG">Jan/2006 - Dez/2009</text>
                            <p><text class="blueFont">CEFET - Centro Federal de Educação Tecnológica</text></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>