<div class="container">
    <div class="row paddingHeader paddingDown">
        <div class="col-lg-4" style="text-align: center;">
            <img class="MarlonPhoto" src="../img/Marlon Braga 2020 circle.png" />
        </div>
        <div class="col-lg-8 justifyText">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Profissional com experiência em desenvolvimento de software de web, realidade virtual e aumentada, atuando na programação de simuladores industriais, software de tratamento de fobias e aplicações lúdicas. Experiência em gerenciamento de equipes de software e coordenação projetos de pequeno porte. Atuou em projetos de programação web.
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;Formado em Ciência da Computação e MBA em gerenciamento de projetos incompleto. Possui perfil empreendedor, grande capacidade de adaptação a tecnologias e facilidade de rápido aprendizado. Busca constantemente ampliar conhecimentos e adquirir novas experiências e crescimento profissional.
            </p>
        </div>
    </div>
</div>


<div class="container-fluid darkTheme paddingDown">
    <div class="container darkTheme">
        <div class="row">
            <div class="col-md-6  paddingHeader ">
                <h3 class="darkTheme" style="text-align:center;">
                    <span class="fa-stack">
                        <i class="far fa-circle fa-stack-2x circleIcon"></i>
                        <i class="fas fa-tools fa-stack-1x"></i>
                    </span>
                    PROFICIÊNCIA
                </h3>

                <div class="">
                    <table style="margin: auto;">
                        <tr>
                            <td>Scrum</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:95%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Game Engine</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:95%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Orientação a Objeto</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:95%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>MVC Pattern</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:75%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Design Patterns</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:30%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Clean Code</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:50%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Princípios SOLID</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:50%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Controle de Versão</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:95%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Teste Unitário</td>
                            <td>
                                <div class="progress backgroundBlue">
                                    <div class="progress-bar frontBlue" style="width:30%"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <p></p>
            </div>
            <div class="col-md-6 darkTheme paddingHeader">
                <h3 class="darkTheme" style="text-align:center;">
                    <span class="fa-stack ">
                        <i class="far fa-circle fa-stack-2x circleIcon"></i>
                        <i class="fas fa-brain fa-stack-1x"></i>
                    </span>
                    CONHECIMENTOS
                </h3>
                <div class="padding-left">
                    <div class="d-flex flex-wrap align-content-center align-items-center">
                        <div class="conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/aspnet-blue.png"></div>
                            <div class="conhecimentos">ASP.NET</div>
                        </div>

                        <div class="conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/c-sharp-blue.png"></div>
                            <div class="conhecimentos">C-Sharp</div>
                        </div>

                        <div class="conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/efcore-blue.png"></div>
                            <div class="conhecimentos">Entity</div>
                        </div>

                        <div class=" conhecimentos">
                            <div class="conhecimentos"> <img class="skills" src="../img/php-blue.png"></div>
                            <div class="conhecimentos">PHP</div>
                        </div>
                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/sql-blue.png"></div>
                            <div class="conhecimentos">SQL</div>
                        </div>

                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/html-blue.png"></div>
                            <div class="conhecimentos">HTML</div>
                        </div>

                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/css-blue.png"></div>
                            <div class="conhecimentos">CSS</div>
                        </div>

                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/javascript-blue.png"></div>
                            <div class="conhecimentos" style="font-size: 0.9em">JavaScript</div>
                        </div>
                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/jquery-blue.png"></div>
                            <div class="conhecimentos" style="font-size: 0.9em">JQuery</div>
                        </div>
                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/angular-blue.png"></div>
                            <div class="conhecimentos" style="font-size: 0.9em">Angular</div>
                        </div>

                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/git-blue.png"></div>
                            <div class="conhecimentos">GIT</div>
                        </div>
                        <div class=" conhecimentos">
                            <div class="conhecimentos"><img class="skills" src="../img/unity-blue.png"></div>
                            <div class="conhecimentos">Unity</div>
                        </div>
                    </div>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-xl-12 paddingHeader">
        <div class="row">
            <div class="col-xl-12">
                <p></p>
                <h3>
                    <span class="fa-stack ">
                        <i class="far fa-circle fa-stack-2x "></i>
                        <i class="fas fa-suitcase fa-stack-1x"></i>
                    </span>
                    EXPERIÊNCIA
                </h3>
                <div class="padding-left">
                    <h4>Coordenador de projetos</h4>
                    <p><text class="blueFont">Governança.com</text> <text class="notas"> - Maio/2018 a Fevereiro/2020 (2 anos)</text></p>
                    <p>
                        Coordenação de serviços, definição do escopo e acompanhamento de cronograma de equipe terceirizada; Coordenação e revisão da produção de conteúdo digital; Organização de conteúdo de marketing digital, planejamento e análise de resultados de campanhas de marketing; Levantamento e análise de requisitos de software.
                    </p>
                    <h4>Desenvolvedor de software, gestor (pessoa jurídica)</h4>
                    <p><text class="blueFont">OverReal Virtualidade Imersiva</text><text class="notas"> - Setembro/2015 a Novembro/2018 (3 anos)</text></p>
                    <p>
                        Gerenciamento de equipes de programadores e designers; Levantamento de requisitos; Orçamento de projeto; Desenvolvimento de Sistemas Interativos, Simuladores Imersivos em Realidade Virtual e Aumentada voltados para publicidade e educação. Projetos realizados na engine Unity e linguagem C#.
                    </p>
                    <h4>Auxiliar de Desenvolvimento (temporário)</h4>
                    <p><text class="blueFont">YDreams Global</text><text class="notas"> - Julho/2016 a Novembro/2016 (4 meses)</text></p>
                    <p>
                        Desenvolvimento de Sistemas Interativos e aplicativos de Realidade Virtual para fins publicitários. Projetos realizados com Gear VR, Kinect, Unity e C#.
                    </p>
                    <h4>Programador (estágio)</h4>
                    <p><text class="blueFont">Centro de Tecnologia do SENAI</text><text class="notas"> - Junho/2014 a Junho/2015 (1 ano)</text></p>
                    <p>
                        Desenvolvimento de Simuladores Industriais imersivos e Jogos digitais. Projetos em CAVE para treinamento de segurança de profissionais em plataforma de petróleo. Entre as tecnologias usadas estão: Middle VR, Unity e C#.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-xl-12 paddingHeader">
        <div class="row">
            <div class="col-xl-12">
                <h3>
                    <span class="fa-stack ">
                        <i class="far fa-circle fa-stack-2x "></i>
                        <i class="fas fa-graduation-cap fa-stack-1x"></i>
                    </span>
                    FORMAÇÃO
                </h3>
                <div class="padding-left">
                    <h4>
                        MBA em Gerência de Projetos<br />e processos com PMI metodologias ágeis e CBOK
                    </h4>
                    <p class="notas">
                        Instituto Infnet - Abril/2020 - em curso
                    </p>
                    <h4>
                        Bacharel em Ciência da Computação
                    </h4>
                    <p class="notas">
                        Universidade do Estado do Rio de Janeiro - Abril/2011 - Abril/2016
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>