.h1 {
    font-family: Berlin;
    font-size: 2.5rem;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
}

.h5 {
    font-family: Berlin;
    font-size: 1.25rem;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
}