@font-face {
    font-family: 'Berlin';
    src: url('/fonts/berlin-sans-fb-3.ttf') format('truetype');
}

@font-face {
    font-family: 'Neuropol';
    src: url('/fonts/neuropol.ttf') format('truetype');
}
html {
    scroll-behavior: smooth;
}
    html > body {
        background-color: #000000;
        color: #000000;
        font-size: 1.2em;
        margin-bottom: 0px;
    }
.postimg {
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin-bottom: 0px;
    border-radius: 20px;
    height: 300px;
    display: flex;
    position: relative;
}
.bg-dark-alpha {
    background: #000000de;
}
.filter-img {
    content: "";
    background-image: linear-gradient(to bottom right, #FFFFFF, #DDDDDD);
    width: 100%;
    height: 100%;
    opacity: 0.0;
    position: absolute;
    border-radius: 20px;
    transition-duration: 1s;
    color: transparent;
    padding: 50px 20px 20px 20px;
    overflow-y: hidden;
}

    .filter-img:hover {
        opacity: 0.9;
        padding: 20px 20px 20px 20px;
        background-image: linear-gradient(to bottom right, #FFFFFF, #DDDDDD);
        box-shadow: 0px 0px -20px #5B9BD5;
        color: black;
    }
.badge {
    color: white;
}
.header {
    background-image: url("/img/Minimalist_Cities.jpg");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    margin-bottom: 0px;
    min-height: 100vh;
    border-radius: 0px;
}

.headerBox {
    background-image: url("/img/transparentBlack-75.png");
    border: black solid 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #5B9BD5;
    margin: auto;
    margin-top: 30vh;
    margin-bottom: 25vh;
    padding: 10px 50px;
    width: fit-content;
}

    .headerBox > h1 {
        color: white;
        font-family: Berlin;
    }

    .headerBox > p {
        color: #5B9BD5;
        font-size: 1.3em;
        font-family: Neuropol;
        font-weight: bold;
        margin-bottom: 0rem;
    }

h3 {
    color: black;
    font-family: Berlin;
    font-size: 1.5em;
}

h4 {
    color: black;
    font-family: Berlin;
    font-size: 1.3em;
}

h5 {
    font-size: 0.9rem;
    color: gray;
    font-weight: normal;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.notas {
    color: grey;
    font-size: 0.75em;
}

.darkTheme {
    color: white;
    background-color: black;
}

.paddingHeader {
    padding-top: 50px;
}

.paddingDown {
    padding-bottom: 80px;
}

span {
    font-size: 0.9em;
}

.footer {
    color: white;
    background-color: black;
    position: unset;
}

.circleIcon {
    font-weight: 100;
}

.backgroundBlue {
    background-color: #04294B;
    height: 8px;
    min-width: 120px;
}

.frontBlue {
    background-color: #5B9BD5;
}

td {
    font-family: Berlin;
    text-align: right;
    padding-right: 15px;
}

    td.left {
        text-align: left;
        padding-left: 15px;
    }

.padding-left {
    padding-left: 50px;
}

.padding-left-small {
    padding-left: 25px;
}

.blueFont {
    color: #5B9BD5;
    font-weight: bold;
    font-size: 1.0em;
}


.justifyText {
    text-align: justify;
    text-justify: inter-word;
}

.footerIcon {
    width: 40px;
    height: 40px;
    font-size: 2em;
    color: #5B9BD5;
    text-shadow: 0px 0px 4px #5B9BD5;
    transition: text-shadow 1s;
}
    .footerIcon:hover {
        color: #5B9BD5;
        text-shadow: 0px 0px 12px #5B9BD5;
    }


a.footer-link {
    color: white;
    font-size: 1.0em;
    transition: color 0.5s;
}
a {
    font-size: 1.0em;
    transition: color 1s;
}
        a:hover {
            color: #3e89cf;
            text-decoration: none;
            /*text-shadow: 0px 0px 4px #3e89cf;*/
        }
    a.post {
        color: inherit;
    }
        a.post:hover {
            color: inherit;
            text-decoration: none;
        }
.btn-marlon {
    background-color: #5B9BD5;
    color: white;
    transition: box-shadow 0.5s, background-color 0.5s;
    font-size: 1.0em;
    font-weight: 500;
    border: 1px solid #5B9BD5;
    box-shadow: 0px 0px 0px #5B9BD5;
}
    .btn-marlon:hover {
        box-shadow: 0px 0px 20px #5B9BD5;
        background-color: #5B9BD5;
        color: white;
    }
    .btn-marlon:active {
        background-color: white;
        color: #5B9BD5;
        border: 1px solid #5B9BD5;
   
    }