@model marlonbraga.dev.Models.Post

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/css/CreateAndEdit.css" />
    <script src="https://cdn.tiny.cloud/1/qwe97nvfgyx0gx3aehbk6urvlwhvlljfr2cgu24xyivowxk2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            tinymce.init({
                selector: '#mytextarea'
            });
            const inpFile = document.getElementById("inpFile");
            const previewContainer = document.getElementById("imagePreview");
            const previewImage = previewContainer.querySelector(".image-preview__image");
            const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");

            inpFile.addEventListener("change", function () {
                const file = this.files[0];

                if (file) {
                    const reader = new FileReader();

                    previewDefaultText.style.display = "none";
                    previewImage.style.display = "block";

                    reader.addEventListener("load", function () {
                        previewImage.setAttribute("src", this.result);
                    });

                    reader.readAsDataURL(file);
                } else {
                    previewDefaultText.style.display = null;
                    previewImage.style.display = null;
                    previewImage.setAttribute("src", "");
                }
            });
        });
    </script>
    <style>
        .image-preview {
            min-height: 180px;
            border: 2px solid #5B9BD5;
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #5B9BD5;
        }

        .image-preview__image {
            display: none;
            width: 100%;
            height: 100%;
        }
        .badge-checkboxes .checkbox input[type="checkbox"],
        .badge-checkboxes label.checkbox-inline input[type="checkbox"] {
            /*Hide the checkbox, but keeps tabbing to it possible. */
            position: absolute;
            clip: rect(0 0 0 0);
        }

        .badge-checkboxes .checkbox label,
        .badge-checkboxes label.checkbox-inline {
            padding-left: 0; /* Remove space normally used for the checkbox */
        }

            .badge-checkboxes .checkbox input[type="checkbox"] + .badge,
            .badge-checkboxes label.checkbox-inline input[type="checkbox"] + .badge {
                background-color: #5B9BD5;
                border: 2px solid #5B9BD5; /* Add outline to badge */
                color: white;
                /* Make text in badge not selectable */
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            /* Remove badge background-color and set text color for not checked options */
            .badge-checkboxes .checkbox input[type="checkbox"]:not(:checked) + .badge,
            .badge-checkboxes label.checkbox-inline input[type="checkbox"]:not(:checked) + .badge {
                background-color: Transparent;
                border: 2px solid #5B9BD5;
                color: #5B9BD5;
            }

        /*The following css only required for Bootstrap <= 3.1.0 */
        .badge-checkboxes .checkbox {
            padding-left: 0; /* Remove space normally used for the checkbox */
        }

    </style>
</head>
<body>
    <div class="container mt-5">
        <h4>Publicar Post</h4>
        <hr />
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Title" class="h1 form-control" value="Título" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Description" class="h5 form-control" value="Descrição" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <input asp-for="ImageFile" type="file" accept="image/*" id="inpFile">
                        <div class="image-preview" id="imagePreview">
                            <img src="" alt="Image Preview" class="image-preview__image" />
                            <span class="image-preview__default-text">Image Preview</span>
                        </div>
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group">
                        <input asp-for="PublicationDate" class="form-control" />
                        <span asp-validation-for="PublicationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3 badge-checkboxes">
                        <div class="checkbox card-body tags">
                            <h5 style="margin: 0px 2px 2px auto; font-size:2.0rem;">
                           @foreach(var tag in ViewBag.Tags) {
                                <label>
                                    <input type="checkbox" value="@tag.IdTag">
                                    <span class="badge">@tag.Name</span>
                                </label>
                            }
                            </h5>
                        </div>

                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea id="mytextarea" asp-for="Content" class="form-control">Hello, World!</textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="text-align:center;">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a class="btn btn-outline-primary" asp-action="Index">Voltar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
</body>
</html>
